body {
    background-color: #fce3e3;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e4c2c2;
}

button {
    background-color: #f6b5b5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7d7;
    border-radius: 5px;
}